<?xml version="1.0"?>
<config>
    <modules>
        <Nekloblog_News>
            <version>1.0.0.0.1</version>
        </Nekloblog_News>
    </modules>
    <global>
        <models>
            <nekloblog_news>
                <class>Nekloblog_News_Model</class>
                <resourceModel>news_resource</resourceModel>
            </nekloblog_news>
            <news_resource>
                <class>Nekloblog_News_Model_Resource</class>
                <entities>
                    <news>
                        <table>nekloblog_news</table>
                    </news>
                </entities>
            </news_resource>
        </models>
        <helpers>
            <nekloblog_news>
                <class>Nekloblog_News_Helper</class>
            </nekloblog_news>
        </helpers>
        <blocks>
            <nekloblog_news>
                <class>Nekloblog_News_Block</class>
            </nekloblog_news>
        </blocks>
        <resources>
            <nekloblog_news_setup>
                <setup>
                    <module>Nekloblog_News</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </nekloblog_news_setup>
        </resources>
        <events>
            <before_news_item_display>
                <observers>
                    <nekloblog_news>
                        <class>nekloblog_news/observer</class>
                        <method>beforeNewsItemDisplayed</method>
                    </nekloblog_news>
                </observers>
            </before_news_item_display>
        </events>
    </global>
    <frontend>
        <routers>
            <nekloblog_news>
                <use>standard</use>
                <args>
                    <module>Nekloblog_News</module>
                    <frontName>news</frontName>
                </args>
            </nekloblog_news>
        </routers>
        <layout>
            <updates>
                <nekloblog_news>
                    <file>nekloblog_news.xml</file>
                </nekloblog_news>
            </updates>
        </layout>
    </frontend>
    <Admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Nekloblog_News before="Mage_Adminhtml">Nekloblog_News_adminhtml</Nekloblog_News>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </Admin>
    <adminhtml>
        <layout>
            <updates>
                <nekloblog_news>
                    <file>nekloblog_news.xml</file>
                </nekloblog_news>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <news>
            <view>
                <enabled>1</enabled>
                <items_per_page>20</items_per_page>
                <days_difference>3</days_difference>
            </view>
        </news>
    </default>
</config>