<?xml version="1.0"?>
<config>
    <modules>
        <Neklo_Blog>
            <version>1.0.0</version>
        </Neklo_Blog>
    </modules>
    <global>
        <models>
            <neklo_blog>
                <class>Neklo_Blog_Model</class>
                <resourceModel>neklo_blog_news</resourceModel>
            </neklo_blog>
            <neklo_blog_news>
                <class>Neklo_Blog_Model_Resource</class>
                <entities>
                    <news>
                        <table>neklo_blog_news</table>
                    </news>
                </entities>
            </neklo_blog_news>
        </models>
        <blocks>
            <neklo_blog>
                <class>Neklo_Blog_Block</class>
            </neklo_blog>
        </blocks>
        <helpers>
            <neklo_blog>
                <class>Neklo_Blog_Helper</class>
            </neklo_blog>
        </helpers>
        <resources>
            <neklo_blog_setup>
                <setup>
                    <module>Neklo_Blog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </neklo_blog_setup>
        </resources>
        <events>
            <before_news_item_display>
                <observers>
                    <neklo_blog>
                        <class>neklo_blog/observer</class>
                        <method>beforeNewsDisplayed</method>
                    </neklo_blog>
                </observers>
            </before_news_item_display>
        </events>
    </global>
    <frontend>
        <routers>
            <neklo_blog>
                <use>standard</use>
                <args>
                    <module>Neklo_Blog</module>
                    <frontName>news</frontName>
                </args>
            </neklo_blog>
        </routers>
        <layout>
            <updates>
                <neklo_blog>
                    <file>neklo_blog.xml</file>
                </neklo_blog>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Neklo_Blog before="Mage_Adminhtml">Neklo_Blog_Adminhtml</Neklo_Blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <neklo_blog>
                    <file>neklo_blog.xml</file>
                </neklo_blog>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <news>
            <view>
                <enabled>1</enabled>
                <items_per_page>20</items_per_page>
                <days_difference>3</days_difference>
            </view>
        </news>
    </default>
</config>